@model Producto
@{
    ViewData["Title"] = "Solicitudes de productos añadidas";
}
<body style="background-color: #B9B9B9;">  
<div class="text-center" style="margin-top: 50px;">
    <h1 class="display-4">BUSCO</h1>
</div>

<div style="margin-top: 30px; text-align: center;">
        <div class="p-3 mb-2 bg-warning text-white">Bienvenidos a la Aplicación Web N°1 en buscar los productos que usted desea!
        </div>
</div>
<div style="text-align: center; margin-top: 15px;">
            <a asp-controller="Home" asp-action="Index"> 
            <button type="button" class="btn btn-secondary">Ver mis solicitudes registradas</button>
            </a>
        </div>
        

        <div style="text-align: center; margin-top: 15px;">
            <a asp-controller="Home" asp-action="Producto">
                <button type="button" class="btn btn-secondary">Agregar nuevos productos</button></a>
        </div>
    </div>
</body>
