@model Producto
@{
    ViewData["Title"] = "Solicitudes de productos añadidas";
}
<body style="background-color: #B9B9B9;">  
<div class="text-center" style="margin-top: 50px;">
    <h1 class="display-4">BUSCO</h1>
</div>
<div>
  <img src="https://previews.123rf.com/images/sellingpix/sellingpix1509/sellingpix150900039/45451543-tienda-virtual-dise%C3%B1o-de-logotipo-plantilla-vector-concepto-icono-logotipo-para-tienda-en-l%C3%ADnea-centro-co.jpg" class="img-fluid" alt="...">
</div>
<div style="margin-top: 30px; text-align: center;">
        <div class="p-3 mb-2 bg-warning text-white">  
            <h2>Bienvenidos a la Aplicación Web N°1 en buscar los productos que usted desea!</h2>
        </div>
</div>
<div style="text-align: center; margin-top: 15px;">
            <a asp-controller="Home" asp-action="Busco"> 
            <button type="button" class="btn btn-secondary">Ver mis solicitudes registradas</button>
            </a>
        </div>
        

        <div style="text-align: center; margin-top: 15px;">
            <a asp-controller="Home" asp-action="Producto">
                <button type="button" class="btn btn-secondary">Agregar nuevos productos</button></a>
        </div>
    </div>
</body>
